.header{
    padding: 42px 0 10px;
    .navbar-logo{
        a{
            width: 200px;
            height: 36px;
        }
        .icon-logo{
            width: 200px;
            height: 36px;
            fill: $white;
        }
    }
    &.header-page{
        padding: 19px 40px 0 40px;
        max-width: 595px;
        .container{
            padding: 0 0px;
            width: 515px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 13px;
            border-bottom: 2px solid $blue-100;
            width: 515px;
        }
        .navbar-logo{
            img{
                width: 101px;
                height: 19px;
                position: relative;
                top: -2px;
            }
        }
        .navbar-link{
            font-weight: 500;
            font-size: 11px;
            line-height: 24px;
            color: $dark;
            padding-top: 4px;
            a{
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 11px;
                line-height: 24px;
                color: $dark;
                text-decoration: none;
                &:hover {
                  text-decoration: none;
                }
            }
        }
    }
}