.icon-left-text-right {
    padding-top: 3.5rem;
    padding-bottom: .75rem;
    ul {
        padding: 0;
        list-style: none;
        li {
            padding-bottom: 2.222rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            span {
                text-align: center;
                padding-top: 1rem;
            }
        }
    }
}


@include media-breakpoint-up(md) {

    .icon-left-text-right {
        .container {
            max-width: 1024px;
        }

        ul {
            li {
                flex-direction: row;
                svg {
                    width: 150px;
                }
                span {
                    text-align: left;
                    padding-top: 0;
                    width: 100%;
                }
            }
        }
    }

}